:root {
    --primary-page-color: #2196F3;
    --secondary-page-color: #ffffff;
    --primary-text-color: #212121;
    --secondary-text-color: #ffffff;
}
/* inheriting border-box */
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
/* body */
body {
    background-color: var(--secondary-page-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    margin: 0;
}
/* standart margin remover */
h1, h2, h3, h4, h5, h6, ul, p {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
/* list style remover */
ul {
    list-style: none;
}
/* logo style */
.logo {
    color: var(--primary-page-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.head.logo {
    color: var(--primary-text-color);
}
.botom.logo {
    color: var(--secondary-page-color);
}
/* site nav */
.nav, .nav-link {
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}
.ul {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.nav .ul {
    margin-left: 85px;
}
.ul .item:not(:last-child) {
    margin-right: 50px;
}
.nav-link.current {
    color: var(--primary-page-color);
}
.nav-link.contact {
    color: #757575;
}
.header-mail.icon {
    width: 16px;
    height: 11px;

    fill: #AFB1B8;
}
.header-phone.icon {
    width: 10px;
    height: 15px;

    fill: #AFB1B8;
}
.nav-link:hover,
.nav-link:focus,
.header-mail:hover,
.header-mail:focus,
.header-phone:hover,
.header-phone:focus {
    color: var(--primary-page-color);
    fill: var(--primary-page-color);
}
.header-conteiner {
    margin: 0 auto 0 auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid tomato;
}
/* footer */
.footer {
    color: #ffffff;
    line-height: 1.14;
}
.footer.section-header {
    background-color: #2F303A;
}
.address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.address-link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.address-link:hover, .address-link:focus {
    color: var(--primary-page-color);
}
.footer-conteiner {
    margin: 0 auto 0 auto;
    width: 1200px;
    padding-top: 60px;
    padding-right: 15px;
    padding-bottom: 60px;
    padding-left: 15px;

    background-color: #2F303A;
    outline: 2px solid tomato;
}
.footer-conteiner.ul {
    align-items: start;
}
.logo.footer-logo {
    display: block;
    margin-bottom: 20px;
}
.ul.address {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
}
.features.ul {
    margin-left: 0;
}
.ul.follow-us {
    flex-direction: column;
    align-items: flex-start;
    /* margin-top: 12px; */
    margin-left: 147px;
}
.ul.subscribe {
    flex-direction: column;
    align-items: flex-start;
    /* margin-top: 12px; */
    margin-left: 94px;   
}
.ul .footer-item:not(:last-child) {
    margin-right: 10px;
}