/* Styles for index.html */
/* hero */
.header {
    color: var(--secondary-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-conteiner {
    margin: 0 auto 94px auto;
    max-width: 1600px;
    height: 600px;
    outline: 2px solid tomato;
    background-color: rgba(47, 48, 58, 0.8);
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)),
        url("../img/Header-img.jpg");
    /* background-size: cover; */
}
.conteiner-header {
    width: 700px;
    height: 120px;
    margin: 0 auto 0 auto;
}
.button.absolute {
    top: 330px;
    right: 700px;
}
.button {
    display: flex;
    width: 200px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;

    background-color: var(--primary-page-color);
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-decoration: none;
}
/* main */
.main {
    text-align: center;
}
/* sections */
.section {
    color: #212121;
    font-weight: 700;
    line-height: 1.14;


    outline: 2px solid lime;
}
.section-header {
    background-color: var(--secondary-page-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: none;

    margin-bottom: 50px;
    outline: 2px solid tomato;
}
.features {
    text-align: left;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;

    margin-bottom: 20px;
    outline: 2px solid tomato;
}
.features.customize {
    color: var(--secondary-text-color);
}
.section-text {
    text-align: left;
    color: #757575;
    font-weight: 400;
    line-height: 1.71;

    outline: 2px solid tomato;
}
.conteiner {
    margin: 0 auto 94px auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid tomato;
}
.features-items {
    display: flex;
    width: 270px;
    height: 120px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 4px;

    background-color: #F5F4FA;
}
.clients-items {
    display: flex;
    width: 170px;
    height: 90px;
    align-items: center;
    justify-content: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}
.clients-items .icon {
    width: 44px;
    height: 49px;
    margin-bottom: 0;

    fill: #AFB1B8;   
}
.tagline.icon {
    width: 40px;
    height: 52px;
}
.company.icon {
    width: 41px;
    height: 43px;
}
.foster-peters.icon {
    width: 80px;
    height: 42px;
}
.brand.icon {
    width: 59px;
    height: 47px;
}
.tag-line.icon {
    width: 89px;
    height: 45px;
}
.clients-link:hover,
.clients-link:focus,
.clients-items:hover,
.clients-items:focus {
    fill: var(--primary-page-color);
    border-color: var(--primary-page-color);
}
.ul .items {
    align-items: flex-start;
}
.ul .items:not(:last-child) {
    margin-right: 30px;
}
.items-width {
    width: 270px;
}
.ul .team-item:not(:last-child) {
    margin-right: 10px;
}
.relative {
    position: relative;
}
.l {
    width: 370px;
    text-align: center;
}
.absolute {
    position: absolute;
    top: 224px;
    right: 0px;
}
.absolute-layer::before {
    position: absolute;
    top: 224px;
    right: 0px;
    content: '';
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
}
.header.absolute {
    top: 200px;
    right: 430px;
    left: 430px;
}
.l.absolute {
    top: 251px;
}
.absolute.desine-desisions {
    top: 343px;
    right: 490px;
}
.ul.items {
    align-content: flex-end;
}
.icon {
    width: 70px;
    height: 70px;

    fill: #AFB1B8;
}
/* our team */
.teammate-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

    margin-bottom: 10px;
    outline: 2px solid tomato;
}
.teammate-name.section-text {
    text-align: center;
    font-weight: 400;

    margin-bottom: 16px;
}
.section-link {
    color: #AFB1B8;
    text-decoration: none;

    outline: 2px solid tomato;
}
.section-link:hover .icon,
.section-link:focus .icon {
    color: var(--primary-page-color);
    fill: var(--primary-page-color);
}
.team {
    padding-top: 94px;
    padding-bottom: 94px;
}
.photo-margin {
    margin-bottom: 30px;
}
.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    margin-bottom: 0;
    border-radius: 50%;

    outline: 2px solid tomato;
}
.social-link .icon {
    width: 20px;
    height: 20px;
}
.social-link:hover,
.social-link:focus,
.social-link:hover .icon,
.social-link:focus .icon {
    fill: var(--secondary-page-color);
    background-color: var(--primary-page-color);
}
/* Styles for portfolio.html */
/* main */

/* buttons */
.portfolio-button {
    background-color: #F5F4FA;
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
}
.portfolio-button:hover, .portfolio-button:focus {
    background-color: var(--primary-page-color);
    color: var(--secondary-text-color);
}
.ul.portfolio-button {
    justify-content: center;
}
/* portfolio */
.portfolio-conteiner {
    padding: 20px 24px;
    text-align: left;
}
.portfolio-header {
    margin-bottom: 4px;
    text-align: left;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    outline: 2px solid tomato;
}
.portfolio-text {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    outline: 2px solid tomato;
}
.hover-text {
    color: var(--secondary-text-color);
    font-size: 18px;
    line-height: 1.56;
}
.hover-block {
    width: 370px;
    height: 294px;
    padding: 63px 24px;
    text-align: left;
    position: absolute;
    top: 0px;
    left: 0px;

    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;
}
.hover-block:hover {
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 1;
}
.header-conteiner.customize {
    margin: 0 auto 94px auto;
}
.conteiner.customize {
    margin: 0 auto 34px auto;
    padding: 0 0 16px 0;
}
.portfolio.conteiner {
    margin-right: auto;
    margin-left: auto;
}
.portfolio.items {
    position: relative;
    width: 370px;
}
.ul.portfolio:nth-child(n+1) {
    flex-wrap: wrap;
}
.ul .portfolio:nth-child(3n) {
    margin-right: 0px;
}
.portfolio .items {
    margin-bottom: 30px;
}
.portfolio .items:nth-last-child(-n + 3){
    margin-bottom: 0;   
}